<!DOCTYPE html>
<html lang="en" class="codepen">

<head>
  <meta charset="UTF-8">
  <title>BBCode Plugin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='http://www.tinymce.com/css/codepen.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <textarea>
  <em><strong>some bold text here</strong></em>
</textarea>
  <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
