<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>TinyMCE Insert Date button</title>
  
  
  
  
  
</head>

<body>

  <textarea id="editor">
   <h1>
    <span>
        <img src="//www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="110" height="97" style="float: right">
    </span>
    <span>TinyMCE: Custom Insert Date Button</span>
</h1>

 
  Today is <time datetime="Sun Oct 09 2016 22:54:27 GMT+0400 (GET)">Sun Oct 09 2016</time>! <br>Click the clock button!
</textarea>
  <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
