

<!-- TODO: link rel='stylesheet' href='http://www.tinymce.com/css/codepen.min.css' -->

<!-- TODO: include tinymce.min.js only once -->
<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>

{% capture codepen_html %}
{% include codepens/{{ include.id }}/index.html %}
{% endcapture %}


{{ codepen_html }}

<script>
{% include codepens/{{ include.id }}/js/index.js %}
</script>

<form action="https://codepen.io/pen/define" method="POST" target="_blank">
    <input type="hidden" name="data" value='{"title": "blah", "html": "TODO"}' />

    <input type="submit" value="Edit on CodePen" />
</form>