

<!-- TODO: link rel='stylesheet' href='http://www.tinymce.com/css/codepen.min.css' -->

<!-- TODO: include tinymce.min.js only once -->
<script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>

{% capture codepen_html %}
{% include codepens/{{ include.id }}/index.html %}
{% endcapture %}


{% capture codepen_js %}
{% include codepens/{{ include.id }}/js/index.js %}
{% endcapture %}

<div id="codepen_{{ include.id }}">
{{ codepen_html }}
</div>
<form action="https://codepen.io/pen/define" method="POST" target="_blank" id="codepen_form_{{ include.id }}">
    <input type="hidden" name="data" id="codepen_data_{{ include.id }}" />

    <input type="submit" value="Edit on CodePen" />
</form>

<script>
{{ codepen_js }}

  (function() {
    var html = decodeURIComponent("{{ codepen_html | uri_escape }}");
    var js = decodeURIComponent("{{ codepen_js | uri_escape }}");
    var data = {
      title: "code",
      html: html,
      js: js
    };
    document.getElementById("codepen_data_{{ include.id }}").value = JSON.stringify(data);
  })();
</script>
