<!DOCTYPE html>
<html lang="en" class="codepen">

<head>
  <meta charset="UTF-8">
  <title>URL Conversion #2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='http://tinymce.com/css/codepen.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <textarea id="abshosturls" name="absurls" cols="85" rows="10">
  <p>Some relative urls: <a href="example_08.php">content</a>. <img src="//www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="10%" /></p>
  <p>Some absolute urls: <a href="https://archive.tinymce.com/examples/example_08.php">content</a>. <img src="//www.tinymce.com/images/glyph-tinymce@2x.png" alt="TinyMCE Logo" width="10%" /></p>
</textarea>
  <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qagffr3pkuv17a8on1afax661irst1hbr4e6tbv888sz91jc'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
