---
layout: compress
---

<html>
{% include template/head.html %}
<body role="document" data-shared-baseurl="{{ site.shared_baseurl }}" data-baseurl="{{ site.baseurl }}" class="tiny-draft">
<style>
    .content {
        background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('http://res.cloudinary.com/deadlypenguin/image/upload/v1460686084/BattleStationDraft_l9f82j.png') ;
        background-size: 850px;
    }
</style>
{% include template/bodycontents.html %}
</body>
</html>
